<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="headline">
        <div class="about">
           <a class="bg_links social insta" href="https://www.instagram.com/ntzangg_" target="_blank">
              <span class="icon"></span>
           </a>
           <a class="bg_links social youtube" href="https://www.youtube.com/watch?v=vUqOOPKz97k" target="_blank">
              <span class="icon"></span>
           </a>
           <a class="bg_links social linkedin" href="https://github.com/minhnhat60" target="_blank">
              <span class="icon"></span>
           </a>
           <a class="bg_links logo"></a>
        </div>
           <!-- end about -->
           
        <nav class="mainNav">
           <div class="mainNav__logo">Logo</div>
           <div class="mainNav__links">
              <a href="http://127.0.0.1:5500/mini-personal-project1/project-1/index.html" class="mainNav__link">Home</a>
              <a href="" class="mainNav__link">About</a>
              <a href="" class="mainNav__link">Team</a>
              <a href="" class="mainNav__link">Contacts</a>
           </div>
           <div class="mainNav__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                 <g data-name="Layer 2" fill="#9197AE">
                    <g data-name="menu-2">
                       <rect
                          width="24"
                          height="24"
                          transform="rotate(180 12 12)"
                          opacity="0"
                       />
                       <circle cx="4" cy="12" r="1" />
                       <rect x="7" y="11" width="14" height="2" rx=".94" ry=".94" />
                       <rect x="3" y="16" width="18" height="2" rx=".94" ry=".94" />
                       <rect x="3" y="6" width="18" height="2" rx=".94" ry=".94" />
                    </g>
                 </g>
              </svg>
           </div>
        </nav>
        <header class="mainHeading">
           <div class="mainHeading__content">
              <article class="mainHeading__text">
                 <p class="mainHeading__preTitle">beauty</p>
                 <h2 class="mainHeading__title">hidden beauty</h2>
                 <p class="mainHeading__description">
                    There is no difference between a wise man and a fool when they fall in love                   
                 </p>
                 <button class="cta">know more</button>
              </article>
        
              <figure class="mainHeading__image">
                 <img
                    src="https://images.unsplash.com/photo-1640537072339-a5a28201bcd8?q=80&w=1979&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""
                 />
              </figure>
           </div>
        </header>
     </div>
       
      <!-- End Header -->

    <!-- Section 1 -->
    <div class="section1">
        <div class="container">
            <div class="inner__wrap">
                <div class="inner__image">
                    <img src="../assets/images/section-1-image.avif" alt="image">
                </div>
                <div class="inner__content">
                    <div class="inner__sub-title">Core Futures</div>
                    <div class="inner__title">Take a photos</div>
                    <div class="inner__list">
                        <div class="inner__item">
                            <i class="fa-regular fa-image"></i>
                            <span>noble</span>
                        </div>
                        <div class="inner__item">
                            <i class="fa-regular fa-image"></i>
                            <span>bling</span>
                        </div>
                        <div class="inner__item">
                            <i class="fa-regular fa-image"></i>
                            <span>beauty</span>
                        </div>
                    </div>
                    <div class="inner__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan porttitor egestas fermentum nulla.
                    </div>
                    <button class="cta">know more</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section 1 -->

    <!-- Carousel -->
    <!-- End Carousel -->

    <!-- Section 2 -->
     <div class="section2">
        <div class="container">
            <div class="inner__wrap">
                <div class="inner__content">
                    <span class="inner_desc">Hold you tight</span>
                    <div class="inner__title">For Sure!</div>
                    <!-- ::after -->
                </div>
                <div class="inner__image">
                    <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/459844290_488258660861332_6854078080907018378_n.png?_nc_cat=111&ccb=1-7&_nc_sid=9f807c&_nc_ohc=Rb6oqNMsslIQ7kNvgFCtZt7&_nc_ht=scontent.fsgn2-6.fna&_nc_gid=AfnPhHuN_lmhKYc962PKvz1&oh=03_Q7cD1QGErI7m5bCY98PmQuHNfjztVjDwWvd6-1vt-aSpIJIYsA&oe=67174E57" alt="">
                </div>
            </div>
        </div>
     </div>
    <!-- End Section 2 -->

    <!-- Section 3 -->
     <div class="section3">
        <div class="container">
            <h2 class="title-h2">Why Hire Me?</h2>
            <div class="inner__image">
                <div class="inner__all-image">
                    <img src="../assets/images/section-3-image.avif">
                    <div class="inner__info">
                        <div class="inner__title">This</div>
                        <div class="inner__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
                <div class="inner__all-image">
                    <img src="../assets/images/section-3-image.avif">
                    <div class="inner__info">
                        <div class="inner__title">This</div>
                        <div class="inner__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
                <div class="inner__all-image">
                    <img src="../assets/images/section-3-image.avif">
                    <div class="inner__info">
                        <div class="inner__title">This</div>
                        <div class="inner__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
                <div class="inner__all-image">
                    <img src="../assets/images/section-3-image.avif">
                    <div class="inner__info">
                        <div class="inner__title">This</div>
                        <div class="inner__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>



            </div>
        </div>
     </div>
    <!-- End Section 3 -->

      <script src="../assets/js/index.js"></script>
</body>
</html>